.app-shell { min-height: 100%; }
.app-content { position: relative; padding: 16px; padding-top: calc(64px + 16px); margin-left: 240px; transition: margin-left 200ms ease; }
.app-content.content-collapsed { margin-left: 64px; }
